   {% extends 'catalog/base.html' %}

   {% block title %}Изменить сообщение{% endblock %}

   {% block content %}
       <div class="container">
           <h1>Изменить сообщение</h1>
           <form method="POST">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit" class="btn btn-primary">Сохранить</button>
           </form>
           <a href="{% url 'message_list' %}" class="btn btn-secondary mt-3">Назад к списку сообщений</a>
       </div>
   {% endblock %}
