<!DOCTYPE html>
   <html lang="ru">
   <head>
       <meta charset="utf-8">
       <title>Список получателей</title>
   </head>
   <body>
       <h1>Список получателей</h1>
       <ul>
           {% for recipient in recipients %}
               <li>{{ recipient.full_name }} - {{ recipient.email }}</li>
           {% empty %}
               <li>Нет получателей.</li>
           {% endfor %}
       </ul>
       <a href="{% url 'create_recipient' %}">Добавить получателя</a>
   </body>
   </html>
