<div class="col-12">
    <div class="task-card card mb-4 box-shadow">
        <div class="card-body">
            <p>Создать веб-приложение на Django, которое позволяет пользователям управлять рассылками сообщений для клиентов. Приложение должно включать функциональность для создания, просмотра, редактирования и удаления рассылок, а также отправки сообщений по требованию.</p>
            <a href="{% url 'task_detail' %}" class="btn btn-outline-primary">Подробнее</a>
        </div>
    </div>
</div>
