<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Полное Техническое Задание</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
<!--        <h1>Полное Техническое Задание</h1>-->
        <p><h1>Техническое задание на разработку веб-приложения с рассылкой сообщений</h1>

<p>Создать веб-приложение на Django, которое позволяет пользователям управлять рассылками сообщений для клиентов. Приложение должно включать функциональность для создания, просмотра, редактирования и удаления рассылок, а также отправки сообщений по требованию. Прежде чем приступить к написанию кода, ознакомьтесь со всеми условиями проекта (часть 1 и часть 2) и по возможности выполните декомпозицию.</p>

<h2>ЧАСТЬ 1. Разработка сервиса</h2>

<h3>Управление клиентами</h3>
<p>Реализовать возможность добавлять, просматривать, редактировать и удалять получателей рассылки (клиентов).</p>
<h4>Модель «Получатель рассылки»:</h4>
<ul>
    <li>Email (строка, уникальное)</li>
    <li>Ф. И. О. (строка)</li>
    <li>Комментарий (текст)</li>
</ul>

<h3>Управление сообщениями</h3>
<p>Реализовать возможность добавлять, просматривать, редактировать и удалять сообщения.</p>
<h4>Модель «Сообщение»:</h4>
<ul>
    <li>Тема письма (строка)</li>
    <li>Тело письма (текст)</li>
</ul>

<h3>Управление рассылками</h3>
<p>Реализовать возможность добавлять, просматривать, редактировать и удалять рассылки.</p>
<h4>Статусы рассылки:</h4>
<ul>
    <li>Создана — рассылка была создана, но еще ни разу не была отправлена.</li>
    <li>Запущена — рассылка активна и была отправлена хотя бы один раз.</li>
    <li>Завершена — время окончания отправки рассылки прошло.</li>
</ul>

<h4>Модель «Рассылка»:</h4>
<ul>
    <li>Дата и время первой отправки (datetime)</li>
    <li>Дата и время окончания отправки (datetime)</li>
    <li>Статус (строка: 'Завершена', 'Создана', 'Запущена')</li>
    <li>Сообщение (внешний ключ на модель «Сообщение»)</li>
    <li>Получатели («многие ко многим», связь с моделью «Получатель»)</li>
</ul>

<h3>Отправка сообщений по требованию</h3>
<p>Реализовать возможность отправки рассылки вручную через интерфейс пользователя и командную строку.</p>

<h3>Попытки рассылок</h3>
<p>Для каждой попытки отправки рассылки должны сохраняться следующие данные: дата и время попытки, статус (успешно / не успешно), ответ почтового сервера.</p>

<h4>Логика работы попытки рассылки:</h4>
<ul>
    <li>Попытка рассылки — это запись о каждой попытке отправки сообщения по рассылке. Она содержит информацию о том, была ли попытка успешной, когда она произошла и какой ответ вернул почтовый сервер.</li>
    <li><strong>Инициация отправки.</strong> Попытка рассылки создается каждый раз, когда запускается процесс отправки сообщений для конкретной рассылки.</li>
    <li><strong>Определение получателей.</strong> Список клиентов, которым должно быть отправлено сообщение, определяется из выбранных клиентов для данной рассылки.</li>
    <li><strong>Отправка сообщения:</strong>
        <ul>
            <li>Для каждого клиента из списка выполняется отправка письма с помощью функции <code>send_mail()</code> из Django.</li>
            <li>В случае успешной отправки письма создается запись в модели «Попытка рассылки» со статусом «успешно».</li>
            <li>В случае ошибки отправки, например из-за недоступности почтового сервера, создается запись со статусом «не успешно» и текстом ошибки в поле «Ответ почтового сервера».</li>
        </ul>
    </li>
    <li><strong>Сбор статистики.</strong> Каждая попытка отправки письма фиксируется, что позволяет отслеживать успешные и неуспешные попытки, а также общее количество попыток.</li>
    <li><strong>Анализ и отчетность.</strong> Данные о попытках рассылок используются для формирования статистики и отчетности, предоставляя пользователю информацию о статусе и результатах его рассылок.</li>
</ul>

<h4>Модель «Попытка рассылки»:</h4>
<ul>
    <li>Дата и время попытки (datetime)</li>
    <li>Статус (строка: 'Успешно', 'Не успешно')</li>
    <li>Ответ почтового сервера (текст)</li>
    <li>Рассылка (внешний ключ на модель «Рассылка»)</li>
</ul>

<h3>Главная страница</h3>
<p>На главной странице должно отображаться количество всех рассылок, количество активных рассылок (со статусом 'Запущена') и количество уникальных получателей.</p>

      <h2>ЧАСТЬ 2. Расширение функциональности</h2>

<h3>7. Регистрация и аутентификация пользователей</h3>
<p>Необходимо реализовать систему регистрации и аутентификации пользователей. Пользователи должны иметь возможность зарегистрироваться на сайте, подтвердив свой email. Также должна быть реализована функция входа и выхода из системы, а также предусмотрена возможность восстановления пароля.</p>

<h3>8. Статистика и отчеты</h3>
<p>Система должна собирать и отображать информацию о количестве успешных и неуспешных попыток рассылок пользователя, а также о количестве отправленных сообщений.</p>

<h3>9. Ограничение доступа</h3>
<p>Пользователи могут управлять только своими рассылками и клиентами. Менеджеры могут просматривать все рассылки и клиентов, но не имеют права редактировать или удалять чужие данные.</p>

<h4>Описание ролей и прав доступа:</h4>
<ul>
    <li><strong>Пользователь:</strong> Создание, просмотр, редактирование и удаление своих клиентов и рассылок; просмотр статистики по своим рассылкам.</li>
    <li><strong>Менеджер:</strong> Просмотр всех клиентов и рассылок; просмотр списка пользователей сервиса; блокировка пользователей сервиса; отключение рассылок.</li>
</ul>

<h3>10. Кеширование</h3>
<p>Необходимо настроить серверное и клиентское кеширование для повышения производительности.</p>

<h3>Дополнительные задания</h3>
<ul>
    <li><strong>Автоматическая отправка сообщений по расписанию:</strong> Реализовать автоматическую отправку рассылок по расписанию с использованием библиотеки django-apscheduler и написать скрипт для автоматической отправки сообщений.</li>
    <li><strong>Логирование:</strong> Реализовать логирование основных событий и ошибок в работе приложения.</li>
</ul>
<p><em>Примечание:</em> Дополнительные задания, помеченные звездочкой, желательно, но не обязательно выполнять.</p>

        <a href="/" class="btn btn-primary">Вернуться на главную</a>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
