{% extends 'catalog/base.html' %}

{% block title %}Блог{% endblock %}

{% block content %}
    <div class="container">
        <h1>Список статей блога</h1>
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                    <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a>
                    <p class="text-muted">{{ post.created_at }} - {{ post.views_count }} просмотров</p>
                </li>
            {% empty %}
                <p>Нет доступных статей.</p>
            {% endfor %}
        </ul>
        <a href="{% url 'blog_add' %}" class="btn btn-primary mt-3">Добавить новую запись</a>
    </div>
{% endblock %}
