{% extends 'catalog/base.html' %}
{% load custom_filters %}


{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ product.name }}</h1>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }} руб.</p>

        {% if product.is_published %}
            <p class="text-success">Статус: Продукт опубликован.</p>
        {% else %}
            <p class="text-danger">Статус: Продукт не опубликован.</p>
        {% endif %}

        {% if request.user|is_group:"Модератор продуктов" %}
            <form action="{% url 'unpublish_product' product.pk %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Отменить публикацию</button>
            </form>
            <form action="{% url 'product_delete' product.pk %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот продукт?');">Удалить</button>
            </form>
        {% endif %}

        <a href="{% url 'product_edit' product.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'product_list' %}" class="btn btn-primary">Назад к списку</a>
    </div>
{% endblock %}
